/*TESTING ONLY+++++++++++++++++*/

/**:not(body):not(html) {
 box-sizing:border-box;
 border:1px dashed red;
}

.columns {
 min-height: 100px;
}*/

/* END TESTING+++++++++++++++++*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #3d3d3d;
}

p {
  margin:0;
  padding:0;
}

.wrapper {
  width: 90%;
  position: relative;
  display:block;
  margin: 0 auto;
}

.nav {
  margin-top: 20px;
  background-color: #f3f3f3;
}

.nav h3.textLogo {
  font-weight: 400;
  margin: 0;
  padding: 15px 5px 10px 15px;
  background-color: #fff;
  color: #3d3d3d;
  letter-spacing: 5px;
}

.nav h3.textLogo a:link, .nav h3.textLogo a:visited, .nav h3.textLogo a:active {
  color: #3d3d3d;
  text-decoration: none;
}

.nav h3.textLogo a:hover {
  color: #77e1ff;
  text-decoration: none;
}

.links {
  padding: 5px 0 7px 0;
}

.nav span {
  padding: 0 15px 0 15px;
  font-weight: 200;
  font-size: 15px;
  color: #3d3d3d;
}

.nav span a:link, .nav span a:visited, .nav span a:active {
  color: #3d3d3d;
  text-decoration: none;
}

.nav span a:hover {
  color: #fc9999;
}

.mediumLargeVP {
  display: none;
}

.imgCaption {
  padding: 20px 0 20px 0;
}

.imgCaption h3 {
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.imgCaption h5 {
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
}

.col1 {
  margin: 0;
  padding: 0;
}

.col1 img {
  width: 100%;
  display:block;
  margin: 0 auto;
}

.primaryCaption {
  background-color: #fff;
  margin: 0 auto;
}

.primaryCaption h5 {
  color: #3d3d3d;
  margin: 0;
  padding: 20px;
  font-weight: 200;
  font-size: 12px;
}

.col2Box {
  background-color: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.col2Box h3 {
  color: #3d3d3d;
  margin: 0;
  padding: 20px 20px 1px 20px;
  font-weight: 200;
  font-size: 12px;
}

.col2Box h2 {
  color: #3d3d3d;
  margin: 0;
  padding: 3px 20px 20px 20px;
  font-weight: 200;
  font-size: 12px;
}

.col3Box {
  background-color: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  display: none;
}

.col3Box p {
  color: #3d3d3d;
  margin: 0;
  padding: 20px;
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
}


/*MEDIA QUERIES+++++++++++++++++++++++++++++++++*/

@media screen and (min-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 30px;
    width: 300px;
    background: none;
  }

  .nav h3.textLogo {
    background: none;
    color: #fff;
    padding: 15px 5px 0px 15px;
    font-size: 30px;
  }

  .nav h3.textLogo a:link, .nav h3.textLogo a:visited, .nav h3.textLogo a:active {
    color: #fff;
    text-decoration: none;
  }

  .nav h3.textLogo a:hover {
    color: #77e1ff;
    text-decoration: none;
  }

  .nav span {
    display: block;
    font-size: 18px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    color: #fff;
  }

  .nav span a:link, .nav span a:visited, .nav span a:active {
    color: #fff;
    text-decoration: none;
  }

  .nav span a:hover {
    color: #fc9999;
  }

  .col1 img {
    object-fit: cover;
    height: 60vh;
  }

  .imgCaption {
    display: none;
  }

  /*h3.mediumLargeVP {
    display: block;
    position: relative;
    color: white;
    padding: 10px 0 0 10px;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
  }

  h5.mediumLargeVP {
    display: block;
    position: relative;
    color: white;
    padding: 10px 0 10px 10px;
    font-weight: 700;
    margin: 0;
    padding-top: 5px;
  }*/

  .primaryCaption {
    display: none;
  }

  h3.smallVP, h5.smallVP {
    display: none;
  }

  .col2Box {
    position: relative;
    background-color: #fc9999;
    margin: 0;
    width: 51.5%;
    height: 42vh;
    float: left;
    border-top: 20px solid #3d3d3d;
    border-right: 20px solid #3d3d3d;
  }

  .col2Box:hover {
    background-color: #ffc365;
    cursor: pointer;
  }

  .col2Box h3 {
    text-align: center;
    margin: 68px 10px 0 0;
    padding: 20px 20px 0 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }

  .col2Box h2 {
    text-align: center;
    margin: 0 10px 0 0;
    padding: 3px 20px 20px 20px;
    font-weight: 200;
    font-size: 25px;
  }

  .col3Box {
    background-color: #77e1ff;
    margin: 0;
    padding: 0 8px 0 8px;
    width: 48.5%;
    height: 42vh;
    float: right;
    border-top: 20px solid #3d3d3d;
  }

  .col3Box:hover {
    background-color: #86ff76;
    cursor: pointer;
  }

  img.logo {
    display: block;
    width: 75px;
    margin: 0;
    padding-left: 30px;
    padding-top: 30px;
  }

  .col3Box p {
    color: #3d3d3d;
    margin: 0;
    padding: 20px 20px 0 30px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 960px) {
  .col1 {
    display: inline-block;
    width: 70%;
    margin:0;
    padding:0;
    float:left;
  }

  .col1 img {
    object-fit: cover;
    height: 100vh;
    margin:0;
    padding:0;
  }

  .col2Box {
    width: 30%;
    height: 50vh;
    float: right;
    border-right: none;
    border-top: none;
    border-bottom: 20px solid #3d3d3d;
    border-left: 20px solid #3d3d3d;
    overflow: hidden;
    text-overflow: clip;
  }

  .col2Box h3 {
  }

  .col2Box h2 {
    /*padding: 10px 20px 20px 20px;*/
    font-weight: 200;
    font-size: 30px;
    top: 50%;
  }

  .col3Box {
    padding: 0 8px 0 8px;
    width: 30%;
    height: 50vh;
    float: right;
    border-top: none;
    border-left: 20px solid #3d3d3d;
  }

  img.logo {
    display: block;
    width: 100px;
    margin: 0;
    padding-left: 45px;
    padding-top: 65px;
  }
  /*img.logo {
    display: block;;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-left: 10px;
  }*/

  .col3Box p {
    color: #3d3d3d;
    margin: 0;
    padding: 30px 25px 0 45px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
